{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ legend }}</legend>



            <!--Repeat this code block for additional item you want to show  -->
            <div class="form-group">
                {{ form.street.label(class="form-control-label") }}
                {% if form.street.errors %}
                    {{ form.street(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.street.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.street(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <!--Insert here your items in div element for all the data you need  -->

            <!--Repeat this code block for additional item you want to show  -->
            <div class="form-group">
                {{ form.city.label(class="form-control-label") }}
                {% if form.city.errors %}
                    {{ form.city(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.city.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.city(class="form-control form-control-lg") }}city
                {% endif %}
            </div>
            <!--Insert here your items in div element for all the data you need  -->

            <!--Repeat this code block for additional item you want to show  -->
            <div class="form-group">
                {{ form.zip_code.label(class="form-control-label") }}
                {% if form.zip_code.errors %}
                    {{ form.zip_code(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.zip_code.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.zip_code(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <!--Insert here your items in div element for all the data you need  -->

            <!--Repeat this code block for additional item you want to show  -->

            <!--Insert here your items in div element for all the data you need  -->


            <!--Repeat this code block for additional item you want to show  -->

            <div class="form-group">
                {{ form.country.label(class="form-control-label") }}
                {% if form.country.errors %}
                    {{ form.country(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.country.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.country(class="form-control form-control-lg") }}
                {% endif %}
            </div>





        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
{% endblock content %}
