{% extends "layout.html" %}
{% block content %}
     <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">

    <article class="media comment-content">

     <img  class="rounded-circle article-img"  src="{{ url_for('static', filename='profile_pics/' + post.Protagonist.image_file) }}">
           {% if post.category=='Sports' %}
        <h1><i style="margin-left: 5em; margin-top: 0.2em; position: absolute; " class="fas fa-basketball-ball"></i></h1>
        {% endif %}
         {% if post.category=='Design' %}
        <h1><i style="margin-left: 5em; margin-top: 0.2em; position: absolute; " class="fas fa-palette"></i></h1>
        {% endif %}
         {% if post.category=='Travel' %}
        <h1><i style="margin-left: 5em; margin-top: 0.2em; position: absolute; " class="fas fa-umbrella-beach"></i></h1>
        {% endif %}
        {% if post.category=='Peoples Corner' %}
        <h1><i style="margin-left: 5em; margin-top: 0.2em; position: absolute; " class="fas fa-person-booth"></i></h1>
        {% endif %}
         {% if post.category=='Music' %}
        <h1><i style="margin-left: 5em; margin-top: 0.2em; position: absolute; " class="fas fa-podcast"></i></h1>
        {% endif %}
         {% if post.category=='Others' %}
        <h1><i style="margin-left: 5em; margin-top: 0.2em; position: absolute; " class="fas fa-project-diagram"></i></h1>
        {% endif %}
      {% if current_user.is_authenticated %}
          <h2 style="position: absolute; margin-left: 2.2em;"><a class="text-primary" href="{{ url_for('users.user', id=post.Protagonist.id) }}">{{ post.Protagonist.username }}</a></h2>
          {% else %}
          <h2  style="position: absolute; margin-left: 2.2em;">{{ post.Protagonist.username }}</h2>
          {% endif %}

          <small style="margin-top: 3.2em; position: relative; " class="text-muted"> {{ moment(post.date_posted).fromNow() }}</small>

          <button class="btn btn-link" style="margin-top: 2em;" ><a href="http://maps.google.com/?q={{post.city }}"><i style="color: black;" class="fas fa-map-marker-alt"></i>&#xA0;{{post.city }}</a></button>

        </article>
        <br>
        <br>
        {% if post.Protagonist == current_user %}

            <div>
              <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('posts.update_post', post_id=post.id) }}">Update</a>
              <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
            </div>
          {% endif %}

        {% if current_user.is_administrator() %}

            <div>
              <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('posts.update_post', post_id=post.id) }}">Update</a>
              <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
            </div>
          {% endif %}
        <br>




        <div class="article-metadata">

        <div class="article-content">
          <h4><a class="article-title" href="{{ url_for('posts.postn', post_id=post.id) }}">{{post.story_line }}</a></h4>
        </div>
       <div class="article-content">
          <iframe class="iframe" scrolling="yes" src="https://www.youtube.com/embed/{{post.youtube_link.split("=")[1]}}" frameborder="0" allowfullscreen></iframe>
        </div>
        <div><br></div>
        <div class="article-content">
        <p class="text-muted"><b>My Story</b> <br> <br> {{post.story_text }}
        </p>

        </div>
        </div>
      <div class="row"></div>
      <br><br>


     <h4 id="comments">Comments</h4>

     <ul class="comments">
    {% for comment in comments %}
    <li class="comment">
        <div class="comment-thumbnail">
            <a href="{{ url_for('users.user', id=comment.Protagonist.id) }}">
            </a>
        </div>
        <div class="comment-content">
            <div class="comment-date">{{ moment(comment.timestamp).fromNow() }}</div>
            {% if current_user.is_authenticated %}
            <div class="comment-author"><a href="{{ url_for('users.user', id=comment.Protagonist.id) }}">{{ comment.Protagonist.username }}</a></div>
            {% else %}
            <div class="comment-author">{{ comment.Protagonist.username }}</div>
            {% endif %}
             <div class="comment-body">{{ comment.body }}</div>

         </li>
         {% endfor %}
       </ul>

       {% if current_user.is_authenticated %}
      <form method="POST" action="" enctype="multipart/form-data">
      {{ form.hidden_tag() }}
        <fieldset class="form-group">
        <div class="form-group">
                    {{ form.body.label(class="form-control-label") }}
                      {{ form.body(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.body.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                            </div>
        <div class="form-group">
       {{ form.submit(class="btn btn-outline-info") }}
       </div>
       </fieldset>
      </form>
      {% else %}

      {% endif %}
      </div>
       </article>
  <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <form action="{{ url_for('posts.delete_post', post_id=post.id) }}" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>




{% endblock content %}
