{% extends "layout.html" %}
{% block content %}
<article class="media content-section">
  <div class="media-body">
  <div class="article-metadata">
    <article class="media comment-content">

    <div class="card" style="width:270px height:150px;  float: left; margin-left:0.0;">
  <img class="card-img-top" style="height:180px" src="{{ image_file }}" alt="Card image">
  {% if user.last_seen != None %}
        <span class="badge badge-dark "><p>active {{ moment(user.last_seen).fromNow() }}</p></span><br> 
        {% else %}
        
        {% endif %}
  <div class="card-body">
    <h4 class="card-title">{{ user.username }}</h4>
     <p class="text-secondary">{{ user.email }}</p>
        {% if user.about_me != None %}
        <p class="card-text">{{ user.about_me }}</p>
        {% else %}
        <p><i> Bio need to updated</i></p>
        {% endif %}
  </div>
</div>

<div style="margin-left:2.0em; position: all; ">
        <div class="formd">
        <b><h4 class="text-dark">Basic</h4></b>
        <p><b class="text-muted" style="margin-right: 0.5em;">Member since</b>{{ moment(user.member_since).format('L') }}<br>
        <b class="text-muted" style="margin-right: 0.5em;">Born</b>{{ moment(user.date_of_birth).format('L') }}<br>
        <b class="text-muted" style="margin-right: 0.5em;">Gender</b>{{user.gender}}<br>
        <b class="text-muted" style="margin-right: 0.5em;">Phone Number</b>{{user.contact_number}}<br>
        <b class="text-muted" style="margin-right: 0.5em;">Education</b>{{user.education_level}}</p>
        </div>
          <!--model button-->
        <a type="links" class="btn btn-light" title="more information" data-toggle="modal" data-target="#myModal">...</a>

        <!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">

            <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Background</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
                <!-- Modal body -->
        <div class="modal-body">
        
        <div>

         <div class="formd">
        <b><h4 class="text-dark">Basic</h4></b>
        <p><b class="text-muted" style="margin-right: 0.5em;">Member since</b>{{ moment(user.member_since).format('L') }}<br>
        <b class="text-muted" style="margin-right: 0.5em;">Born</b>{{ moment(user.date_of_birth).format('L') }}<br>
        <b class="text-muted" style="margin-right: 0.5em;">Gender</b>{{user.gender}}<br>
        <b class="text-muted" style="margin-right: 0.5em;">Phone Number</b>{{user.contact_number}}<br>
        <b class="text-muted" style="margin-right: 0.5em;">Education</b>{{user.education_level}}</p>
        </div>


        <div class="formd">
        <b><h4 class="text-dark">Address</h4></b>
        <b class="text-muted" style="margin-right: 0.5em;">Street</b> {{address.street}}<br>
        <b class="text-muted" style="margin-right: 0.5em;">City</b> {{ address.city }}<br>
        <b class="text-muted" style="margin-right: 0.5em;">Country</b> {{ address.country}}<br> 
        </div>

        <div class="formd">
        <b><h4 class="text-dark">Occupation</h4></b>
        <b class="text-muted" style="margin-right: 0.5em;">Occupation Name</b> {{occupation.occupation_name}}<br>
        <b class="text-muted" style="margin-right: 0.5em;">Occupation Company</b> {{ occupation.occupation_company }}<br>
        <b class="text-muted" style="margin-right: 0.5em;">Occupation Start Date</b> {{ occupation.occupation_start_date}}<br> 
        <b class="text-muted" style="margin-right: 0.5em;">Occupation End Date</b> {{ occupation.occupation_end_date}}<br> 
        </div>

        <div class="formd">
        <b><h4 class="text-dark">Interest</h4></b>
        <b class="text-muted" style="margin-right: 0.5em;">Intrest Name</b> {{ intrest.intrest_type }}<br>
        </div>

         <div class="formd">
        <b><h4 class="text-dark">Achievement</h4></b>
        <b class="text-muted" style="margin-right: 0.5em;">Achievement Name</b> {{ achievement.medal_count }}<br>
        <b class="text-muted" style="margin-right: 0.5em;">Date</b> {{ achievement.timestamp }}<br>
        </div>

        <div class="formd">
        <b><h4 class="text-dark">Special Event</h4></b>
        <b class="text-muted" style="margin-right: 0.5em;">Medal</b> {{ special_event.life_event }}<br>
        <b class="text-muted" style="margin-right: 0.5em;"> Start Date</b> {{ special_event.life_event_start_date}}<br> 
        <b class="text-muted" style="margin-right: 0.5em;"> End Date</b> {{ special_event.life_event_end_date}}<br> 
        </div>

        <div class="formd">
        <b><h4 class="text-dark">Sponsership</h4></b>
        <b class="text-muted" style="margin-right: 0.5em;">Sponser Type</b> {{sponsership.sponser_type}}<br>
        <b class="text-muted" style="margin-right: 0.5em;">Sponser Name</b> {{ sponsership.sponser_name }}<br>
        <b class="text-muted" style="margin-right: 0.5em;">Sponsership Start Date</b> {{ sponsership.sponsership_start_date}}<br> 
        <b class="text-muted" style="margin-right: 0.5em;">Sponsership End Date</b> {{ sponsership.sponsership_end_date}}<br> 
        </div>

        </div>
        </div>

         <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger"  data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>
   {% if user == current_user %}
      <button  class="btn btn-light " title="edit profile" type="button"  href="{{ url_for('users.account',id=user.id) }}"><i class="fas fa-pencil-alt"></i></button>
    {% endif %}

  <div id="social"  style="position: absolute;">
      <a class="facebookBtn smGlobalBtn" href="https://www.facebook.com/{{links_facebook_id}}" ></a>
      <a class="twitterBtn smGlobalBtn" href="https://twitter.com/{{links.twitter_id}}" ></a>
      <a class="instagramBtn smGlobalBtn" href="http://www.instagram.com/{{links.instagram_id}}" ></a>
      <a class="snapchatBtn smGlobalBtn" href="https://www.snapchat.com/add/{{links.snapchat_id}}" ></a>
    </div>
        
          
        </div>


    
       
      
  

    </article>
      <div>
        <br>
        <br>  
        {% if user != current_user %}
        {% if current_user.is_administrator() %}
         <button  class="btn btn-outline-warning btn-sm m-1" type="button" name="button"><a href="{{ url_for('users.account',id=user.id) }}">{{ ('edit profile : Admin ') }}</a></button>
         <button class="btn btn-outline-info btn-sm m-1" type="button" name="button"><a href="{{ url_for('users.media',id=user.id) }}">{{ ('Add Pictures : Admin') }}</a>
        </button>
         <button class="btn btn-outline-info btn-sm m-1" type="button" name="button"><a href="{{ url_for('users.events',id=user.id) }}">{{ (' Create Event : Admin ') }}</a>
        </button>
        <button class="btn btn-outline-info btn-sm m-1" type="button" name="button"><a href="{{ url_for('posts.new_post',id=user.id) }}">{{ (' Create Post : Admin') }}</a>
        </button>
         {% endif %}
         {% endif %}
        {% if user == current_user %}
        <button  class="btn btn-light " title="edit profile" type="button" name="button"><a href="{{ url_for('users.account',id=user.id) }}"><i class="fas fa-pencil-alt"></i></a></button>
        <button class="btn btn-outline-info btn-sm m-1" type="button" name="button"><a href="{{ url_for('users.travel',id=user.id) }}">{{ (' Travel ') }}</a>
        </button>
        <button class="btn btn-outline-info btn-sm m-1" type="button" name="button"><a href="{{ url_for('users.media',id=user.id) }}">{{ ('Add Pictures') }}</a>
        </button>
         <button class="btn btn-outline-info btn-sm m-1" type="button" name="button"><a href="{{ url_for('users.events',id=user.id) }}">{{ (' Create Event ') }}</a>
        </button>
        <button class="btn btn-outline-info btn-sm m-1" type="button" name="button"><a href="{{ url_for('posts.new_post',id=user.id) }}">{{ (' Create Post ') }}</a>
        </button>
        <button class="btn btn-outline-info btn-sm m-1" type="button" name="button"><a href="{{ url_for('blog.new_blog', id=current_user.id) }}">{{ (' Post Blog ') }}</a>
        </button>
        {% elif not current_user.is_following(user) %}
              <button    class="btn btn-outline-secondary btn-sm m-1"  type="button" name="button"><a href="{{ url_for('users.follow', id=user.id) }}">{{ ('Follow   ') }}</a></button>
              {% else %}
              <button   class="btn btn-outline-danger " type="button" title="follow" name="button"><a href="{{ url_for('users.unfollow', id=user.id) }}"><i class="fas fa-user-times"></i></a></button>
              {% endif %}
            <br><br>
            <b><i>  Followers: </i> <span class="badge">{{ user.followers.count() -1 }}</span></b>
            <b><i> Following: </i><span class="badge">{{ user.followed.count() -1 }}</span></b>

        {% if current_user.is_authenticated and user != current_user and user.is_following(current_user) %}
              <span class="label label-default">Follows you</span>
        {% endif %}


    </div>
  </div>

  <br>
  <br>

</div>

</article>

  {% for post in posts.items %}


     <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">

    <article class="media comment-content">

     <img  class="rounded-circle article-img"  src="{{ url_for('static', filename='profile_pics/' + post.Protagonist.image_file) }}">
        {% if post.category=='Sports' %}
        <h1><i style="margin-left: 5em; margin-top: 0.2em; position: absolute; " class="fas fa-basketball-ball"></i></h1>
        {% endif %}
         {% if post.category=='Design' %}
        <h1><i style="margin-left: 5em; margin-top: 0.2em; position: absolute; " class="fas fa-palette"></i></h1>
        {% endif %}
         {% if post.category=='Travel' %}
        <h1><i style="margin-left: 5em; margin-top: 0.2em; position: absolute; " class="fas fa-umbrella-beach"></i></h1>
        {% endif %}
        {% if post.category=='Peoples Corner' %}
        <h1><i style="margin-left: 5em; margin-top: 0.2em; position: absolute; " class="fas fa-person-booth"></i></h1>
        {% endif %}
         {% if post.category=='Music' %}
        <h1><i style="margin-left: 5em; margin-top: 0.2em; position: absolute; " class="fas fa-podcast"></i></h1>
        {% endif %}
         {% if post.category=='Others' %}
        <h1><i style="margin-left: 5em; margin-top: 0.2em; position: absolute; " class="fas fa-project-diagram"></i></h1>
        {% endif %}
      {% if current_user.is_authenticated %}
          <h2 style="position: absolute; margin-left: 2.2em;"><a class="text-primary" href="{{ url_for('users.user', id=post.Protagonist.id) }}">{{ post.Protagonist.username }}</a></h2>
          {% else %}
          <h2  style="position: absolute; margin-left: 2.2em;">{{ post.Protagonist.username }}</h2>
          {% endif %}
        
          <small style="margin-top: 3.2em; position: relative; " class="text-muted"> {{ moment(post.date_posted).fromNow() }}</small>

          <button class="btn btn-link" style="margin-top: 2em;" ><a href="http://maps.google.com/?q={{post.city }}"><i style="color: black;" class="fas fa-map-marker-alt"></i>&#xA0;{{post.city }}</a></button>

        </article>
        <br>



        <div class="article-metadata">
        <h2>{{post.category}}</h2>
        </div>
        <div class="article-content">
          <h4><a class="article-title" href="{{ url_for('posts.postn', post_id=post.id) }}">{{post.story_line }}</a></h4>
        </div>
        <div class="article-content">
          <iframe class="iframe" scrolling="yes" src="https://www.youtube.com/embed/{{post.youtube_link.split("=")[1]}}" frameborder="0" allowfullscreen></iframe>
        </div>

        <div><br></div>
        <div class="article-content">
        <p id="content" class="story" class="text-secondary"scrolling="yes"><b>My Story</b> <br> <br> {{post.story_text }}
        </p>
         <a href="{{ url_for('posts.postn', post_id=post.id) }}"><b>Read more</b></a>
        </div>
        </div>
      <div class="row"></div>
      <br><br>

           <div  class="article-content">
           <a href="{{ url_for('posts.postn', post_id=post.id) }}#comments">
           <span class="label label-primary">{{ post.comments.count() }} Comments</span></a>
           </div>
  </div>
</article>

{% endfor %}
{% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
  {% if page_num %}
    {% if posts.page == page_num %}
      <a class="btn btn-info mb-4" href="{{ url_for('users.user', id=user.id, page=page_num) }}">{{ page_num }}</a>
    {% else %}
      <a class="btn btn-outline-info mb-4" href="{{ url_for('users.user', id=user.id, page=page_num) }}">{{ page_num }}</a>
    {% endif %}
  {% else %}
    ...
  {% endif %}
{% endfor %}
</div>



{% endblock content %}
